.box_shape {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 500px;
    padding-left: 5%;
    padding-right: 50px;
    border: solid #00FF7F 3px;
}